<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="WatchedPath" value="C:\TestFolder"/>
		<add key="DocumentsPath" value="Documents\{0}"/>
		<add key="PhotosPath" value="Photos\{0}"/>
		<add key="MusicPath" value="Music\{0}"/>
		<add key="ExecutablesPath" value="Executables\{0}"/>
		<add key="OtherPath" value="Other\{0}"/>
	</appSettings>
</configuration>